SOD/Web References/SpiceDynamicSector/DynamicSectors.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DynamicSectors" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://121.242.92.173/SpicejetDynamicSectors/DynamicSectors.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://121.242.92.173/SpicejetDynamicSectors/DynamicSectors.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SpiceJetDynamicSectors" />
      <xsd:import schemaLocation="http://121.242.92.173/SpicejetDynamicSectors/DynamicSectors.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDynamicSectors_GetOriginStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOriginStations" />
  </wsdl:message>
  <wsdl:message name="IDynamicSectors_GetOriginStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOriginStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IDynamicSectors_GetOriginStations_ServiceDataGetOriginStationsFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SpiceJetDynamicSectors" name="detail" element="q1:ServiceDataGetOriginStations" />
  </wsdl:message>
  <wsdl:message name="IDynamicSectors_GetArrivalStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArrivalStations" />
  </wsdl:message>
  <wsdl:message name="IDynamicSectors_GetArrivalStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArrivalStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IDynamicSectors_GetArrivalStations_ServiceDataGetArrivalStationsFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SpiceJetDynamicSectors" name="detail" element="q2:ServiceDataGetArrivalStations" />
  </wsdl:message>
  <wsdl:portType name="IDynamicSectors">
    <wsdl:operation name="GetOriginStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IDynamicSectors/GetOriginStations" message="tns:IDynamicSectors_GetOriginStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDynamicSectors/GetOriginStationsResponse" message="tns:IDynamicSectors_GetOriginStations_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDynamicSectors/GetOriginStationsServiceDataGetOriginStationsFault" name="ServiceDataGetOriginStationsFault" message="tns:IDynamicSectors_GetOriginStations_ServiceDataGetOriginStationsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArrivalStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IDynamicSectors/GetArrivalStations" message="tns:IDynamicSectors_GetArrivalStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDynamicSectors/GetArrivalStationsResponse" message="tns:IDynamicSectors_GetArrivalStations_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDynamicSectors/GetArrivalStationsServiceDataGetArrivalStationsFault" name="ServiceDataGetArrivalStationsFault" message="tns:IDynamicSectors_GetArrivalStations_ServiceDataGetArrivalStationsFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDynamicSectors" type="tns:IDynamicSectors">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOriginStations">
      <soap:operation soapAction="http://tempuri.org/IDynamicSectors/GetOriginStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceDataGetOriginStationsFault">
        <soap:fault use="literal" name="ServiceDataGetOriginStationsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetArrivalStations">
      <soap:operation soapAction="http://tempuri.org/IDynamicSectors/GetArrivalStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceDataGetArrivalStationsFault">
        <soap:fault use="literal" name="ServiceDataGetArrivalStationsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DynamicSectors">
    <wsdl:port name="BasicHttpBinding_IDynamicSectors" binding="tns:BasicHttpBinding_IDynamicSectors">
      <soap:address location="http://121.242.92.173/SpicejetDynamicSectors/DynamicSectors.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>