SOD/Web References/FlightLoadCapacity/FlightLoadCapacity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFlightLoadCapacity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FlightNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DepartureDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="DepartureStation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArrivalStation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlightLoadCapacityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFlightLoadCapacityResult" type="tns:LoadAndCapacity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoadAndCapacity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FlightNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DepartureDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Departure" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Arrival" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Load" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Capacity" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTodaysFlightLoadCapacity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTodaysFlightLoadCapacityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTodaysFlightLoadCapacityResult" type="tns:ArrayOfLoadAndCapacity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLoadAndCapacity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LoadAndCapacity" nillable="true" type="tns:LoadAndCapacity" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFlightLoadCapacitySoapIn">
    <wsdl:part name="parameters" element="tns:GetFlightLoadCapacity" />
  </wsdl:message>
  <wsdl:message name="GetFlightLoadCapacitySoapOut">
    <wsdl:part name="parameters" element="tns:GetFlightLoadCapacityResponse" />
  </wsdl:message>
  <wsdl:message name="GetTodaysFlightLoadCapacitySoapIn">
    <wsdl:part name="parameters" element="tns:GetTodaysFlightLoadCapacity" />
  </wsdl:message>
  <wsdl:message name="GetTodaysFlightLoadCapacitySoapOut">
    <wsdl:part name="parameters" element="tns:GetTodaysFlightLoadCapacityResponse" />
  </wsdl:message>
  <wsdl:portType name="FlightLoadCapacitySoap">
    <wsdl:operation name="GetFlightLoadCapacity">
      <wsdl:input message="tns:GetFlightLoadCapacitySoapIn" />
      <wsdl:output message="tns:GetFlightLoadCapacitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTodaysFlightLoadCapacity">
      <wsdl:input message="tns:GetTodaysFlightLoadCapacitySoapIn" />
      <wsdl:output message="tns:GetTodaysFlightLoadCapacitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlightLoadCapacitySoap" type="tns:FlightLoadCapacitySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFlightLoadCapacity">
      <soap:operation soapAction="http://tempuri.org/GetFlightLoadCapacity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodaysFlightLoadCapacity">
      <soap:operation soapAction="http://tempuri.org/GetTodaysFlightLoadCapacity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FlightLoadCapacitySoap12" type="tns:FlightLoadCapacitySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFlightLoadCapacity">
      <soap12:operation soapAction="http://tempuri.org/GetFlightLoadCapacity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodaysFlightLoadCapacity">
      <soap12:operation soapAction="http://tempuri.org/GetTodaysFlightLoadCapacity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightLoadCapacity">
    <wsdl:port name="FlightLoadCapacitySoap" binding="tns:FlightLoadCapacitySoap">
      <soap:address location="http://172.30.47.13/SpiceJetFlightLoadAPI/FlightLoadCapacity.asmx" />
    </wsdl:port>
    <wsdl:port name="FlightLoadCapacitySoap12" binding="tns:FlightLoadCapacitySoap12">
      <soap12:address location="http://172.30.47.13/SpiceJetFlightLoadAPI/FlightLoadCapacity.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>